name: CI

on:
  # Triggers the workflow on push to every branch
  push:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # validate every configuration preset
      - uses: bettermarks/renovate-config/validator@main
        with:
          config: default.json
      - uses: bettermarks/renovate-config/validator@main
        with:
          config: javascript.json
      - uses: bettermarks/renovate-config/validator@main
        with:
          config: python.json

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
      - run: pnpm i
      - run: pnpm types
      - run: pnpm format:check
