name: CI

on:
  # Triggers the workflow on push to every branch
  push:

jobs:
  validate:
    strategy:
      fail-fast: false
      matrix:
        config:
          - default.json
          - javascript.json
          - python.json
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # validate every configuration preset
      - uses: bettermarks/renovate-config/validator@main
        with:
          config: ${{ matrix.config }}

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm i
      - run: pnpm types
      - run: pnpm format:check
