name: "Validate renovate config"
on:
  push:
    paths:
      - renovate.json
  workflow_call:
    inputs:

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
      - run: bettermarks/renovate-config/validator@main
