name: "Validate renovate config"
on:
  pull_request:
    paths:
      - renovate.json
      - validate.sh
      - validator/action.yml
      - .github/workflows/renovate-config-validator.yml
  workflow_call:
    inputs:
      config:
        description: "the relative path to the config file"
        type: string
        default: renovate.json

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          repository: bettermarks/renovate-config
          path: ${{ github.workspace }}/renovate-config
      - uses: ./renovate-config/validator
        with:
          config: ${{ inputs.config || 'renovate-config/renovate.json' }}
