name: Trigger renovate
on:
  push:
  workflow_dispatch:
    inputs:
      repo:
        description: "name of repository (without bettermarks/)"
        type: string
        required: true
#      dashboardIssue:
#        description: the number of the dependency dashboard issue
#        default: 0
#        type: number

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          repository: "bettermarks/renovate-config"
          path: renovate-config

      - uses: actions/github-script@v8
        env:
          OWNER_REPO: bettermarks/${{ inputs.repo || 'renovate-config' }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          script: |
            const {trigger} = await import('${{ github.workspace }}/renovate-config/trigger.ts')
            console.log(await trigger({github, context, exec}))
